<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pose Detection Dashboard</title>

    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/app.js"></script>
</head>

<body>

<h1 class="title">Pose Detection Dashboard</h1>

<div class="cards">

    <div class="card">
        <h2>System</h2>
        <p id="system-status">Waiting for alert...</p>
    </div>

    <div class="card">
        <h2>Performance</h2>
        <p id="fps">FPS: 0</p>
        <p id="latency">Inference: 0 ms</p>
    </div>

    <div class="card">
        <h2>Model</h2>

        <select id="model-select"></select>

        <p id="current-model">Current: ...</p>
    </div>

</div>

<div id="persons-container" class="persons-container"></div>

<div class="video-container">

    <div class="video-box">
        <h2>Live Camera</h2>
        <video id="video" autoplay playsinline></video>
    </div>

    <div class="video-box">
        <h2>AI Output</h2>
        <img id="result">
    </div>

</div>

</body>
</html>